.carousel-control-prev-icon,
.carousel-control-next-icon,
div.carousel-indicators {
  background-color: #778899;
}

.limited-text {
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav {
  display: flex;
  justify-content: left;
}

#top-bills {
  overflow-y: auto;
  height: 45rem;
}

#memberWrapper {
  overflow-y: auto;
  height: 15rem;
  width: 25rem;
}

.news-desc {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #f7f5f5;
}

.modal-content {
  border: 2px solid rgb(152, 152, 152);
  box-shadow: 1px 1px 2px 1px rgb(152, 152, 152);
}